<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Suman Singh" class="img-fluid" title="Sonu singh">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>SUMAN KUMAR SINGH</p>
                        <h1>I am a <span class="text_clr"> MERN Stack Devloper </span> </h1>
                        <a href="https://drive.google.com/file/d/1Q4IL8p3EML-YfKM7TiVQ34MsIZHj_b_5/view?usp=sharing" target="_blank"><button>Hire Me!</button></a>
                    </div>
                    <!-- right side div  -->
                    

                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
    {{>footer}}
</body>

</html>